@import url('https://fonts.googleapis.com/css2?family=VT323:wght@400;700&display=swap');

* {
    font-family: VT323;
}

.hover {
    background-color: black;
}

body {
    background-color: red;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 56px;
    margin: 16px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 16px
}

.control-button {
    border: 2px solid white;
    font-size: 32px;
    background-color: white;
    color: black;
    padding: 8px;
    box-shadow: 5px 5px black;
}

.grid {
    height: 575px;
    width: 575px;
    display:inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 8px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.24)
}

.box {
    border: 0.5px solid rgba(0, 0, 0, 0.05);
  }